:root {
  --bg-light: rgba(255, 255, 255, 1);
  --bg-dark: rgba(0, 0, 0, 0.2);
  --bg-darker: rgba(0, 0, 0, 0.9);
  --border-radius: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--bg-dark);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 10px 10px;
}

body > h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#navbar {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  width: clamp(520px, 80vw, 1200px);
  justify-content: center;
}

#navbar button {
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-darker);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  border-bottom: none;
}

#navbar button.active-tab {
  background-color: var(--bg-darker);
  color: white;
}

#content {
  width: clamp(550px, 90vw, 1200px);
  background-color: var(--bg-light);
  /* border: 1px solid var(--bg-darker); */
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

#homepage {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

#introduction {
  height: 80vh;
  width: clamp(550px, 90vw, 1200px);
  background: url('./images/eaters-collective-unsplash.jpg') no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  padding: 3rem;
  display: flex;
  align-items: center;
}

#introductionText {
  width: clamp(110px, 20vw, 500px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  vertical-align: middle;
}

#introductionText > p {
  font-size: 1.2rem;
}

#about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 1000px;
  padding: 1rem;
}

#about-div div:nth-child(2) {
  padding: 0 2rem;
}

#about-div > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
}

#reviews {
  width: clamp(550px, 90vw, 1200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-dark);
  gap: 1rem;
  padding: 4rem 2rem;
  background-color: black;
  color: white;
  border-radius: var(--border-radius);
}

#reviews > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
}

#reviews > div > div {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  background-color: grey;
  border-radius: var(--border-radius);
  padding: 1rem;
}

#reviews > div > div > div {
  display: flex;
  justify-content: space-between;
}

#reviews p:nth-child(1) {
  font-size: 1.5rem;
}

#reviews p:last-child {
  align-self: end;
}

#menu-container {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  width: clamp(550px, 90vw, 1200px);
  /* background-color: aqua; */
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-section h2 {
  text-align: center;
  align-self: stretch;
  font-size: 2rem;
  background-color: var(--bg-darker);
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: var(--border-radius);
}

.menu-section ul {
  list-style: none;
}

.menu-section li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;;
  padding: 0 2rem;
  font-size: 1.2rem;
}

footer {
  width: clamp(550px, 90vw, 1200px);
  padding: 1rem;
  text-align: center;
  background-color: var(--bg-dark);
  border-radius: var(--border-radius)
}
