:root {
  --bg-light: rgba(255, 255, 255, 1);
  --bg-dark: rgba(0, 0, 0, 0.2);
  --bg-darker: rgba(0, 0, 0, 0.9);
  --border-radius: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: var(--bg-dark);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  background-size: cover;
  background: url('./images/eaters-collective-unsplash.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
} */

body > h1 {
  padding: 1rem;
  font-size: 3rem;
}

#navbar {
  display: flex;
  gap: 1rem;
}

#navbar button {
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-darker);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  border-bottom: none;
}

#navbar button.active-tab {
  background-color: var(--bg-darker);
  color: white;
}

#content {
  flex-grow: 1;
  width: 90vw;
  background-color: var(--bg-light);
  /* border: 1px solid var(--bg-darker); */
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
  display: flex;
  /* padding: 1rem; */
  
}

#homepage {
  flex-grow: 1;
  width: 80vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 3rem;
  /* padding: 1rem; */
}

#introduction {
  flex-grow: 1;
  height: 80vh;
  width: 90vw;
  background: url('./images/eaters-collective-unsplash.jpg') no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  padding: 2rem;
  display: flex;
  align-items: center;
}

#introductionText {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  vertical-align: middle;
}

#introductionText > p {
  font-size: 1.2rem;
}

#about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90vw;
  padding: 1rem;
}

#about-div div:nth-child(2) {
  padding: 0 2rem;
}

#about-div > div {
  width: clamp(400px, 80vw, 1200px);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
}

#reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-dark);
  width: 90vw;
  gap: 1rem;
}

footer {
  width: 90vw;
  padding: 1rem;
  text-align: center;
  background-color: var(--bg-dark);
  border-radius: var(--border-radius);
}
